@import url(toggle.css);

fieldset {
	border: 0;

	& label {
		& h2 {
			font: var(--label-lg);
		}
		& p {
			font: var(--paragraph-lg);
			color: var(--content-secondary);
		}
	}
}

.input-wrapper {
	position: relative;
	width: 86px;
	height: 56px;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: conic-gradient(
			from var(--gradient-angle),
			var(--gradient-border)
		);
		border-radius: 0.5rem;
		animation: rotation 2s linear infinite;
		z-index: 1;
	}

	&:has(input:focus)::before,
	&:has(input:hover)::before {
		inset: -2px;
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0px;
		background: conic-gradient(
			from var(--gradient-angle),
			var(--gradient-border)
		);
		border-radius: 0.5rem;
		animation: rotation 2s linear infinite;
		filter: blur(0.5rem);
		opacity: 0;
		z-index: 0;
	}

	&:has(input:focus)::after {
		inset: -1px;
		opacity: 0.5;
	}
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input {
	appearance: none;
	border: 0;
	border-radius: 0.5rem;
	width: 100%;
	height: 100%;
	padding: 0.25rem 0.5rem;
	background-color: var(--background-secondary);
	color: var(--content-primary);
	font: var(--display-sm);
	text-transform: uppercase;
	position: relative;
	z-index: 2;
	box-sizing: border-box;

	&:focus {
		border: 0;
		outline: 0;
	}
}

.button-wrapper {
	width: 100%;
	height: 56px;

	padding: 2px;
	border-radius: 8px;

	background: var(--background-tertiary);

	transition: background 0.2s ease;

	&:hover {
		background: conic-gradient(
			from var(--gradient-angle),
			var(--gradient-border)
		);

		animation: rotation 2s linear infinite;
	}

	& button {
		appearance: none;
		border: 0;
    cursor: pointer;
		font: var(--label-lg);

		width: 100%;
		height: 100%;

		color: var(--content-primary);
		background-color: var(--background-tertiary);
		border-radius: inherit;

		transition: background 0.3s ease;
	}
	&:hover button {
		background-color: var(--background-secondary);
	}
}

@media (max-width: 1100px) {
	.inputs-group {
		justify-content: center;
	}
}

@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

@keyframes rotation {
	from {
		--gradient-angle: 0deg;
	}
	to {
		--gradient-angle: 360deg;
	}
}
