header {
  position: relative;
  min-height: 40px;

	.logo {
		position: absolute;
		left: 0;
		top: 4.5rem;

		display: flex;
		align-items: center;
		gap: 0.675rem;

		& img {
			width: 38px;
			height: 38px;

			animation: rotate360 2.5s linear infinite forwards;
		}

		& span {
			color: var(--content-primary);
			text-transform: uppercase;
			font: 800 1.5rem/1.3 var(--font-sora);
			letter-spacing: -4%;
		}
	}
}

main {
	min-height: 100vh;

	& > .grid {
		width: 100%;
	}
}

.about {
	& .title {
		& .overline {
			font: var(--overline);
			text-transform: uppercase;
			color: var(--content-tertiary);
		}
		& h1 {
			font: var(--display-lg);
		}
	}
}

.content {
	& .text {
		& p {
			color: var(--content-secondary);
			font: var(--paragraph-sm);
		}
		& .md {
			color: var(--content-brand);
			font: var(--paragraph-md);
		}
	}
}

@media (max-width: 1440px) {
  header {
    & .logo {
      top: 50%;
    }
  }
}

@media (max-width: 1180px) {
	header {
    min-height: 65px;
		& .logo {
			position: absolute;
      transform: translate(-50%, -50%);

			left: 50%;
		}
	}
  main {
    padding: 2rem 2.5rem;
  }
	.about {
		& .title {
			& h1 {
				font: var(--display-md);
			}
		}
	}
}
