.container {
  width: 90%;
  max-width: 1100px;
  margin-inline: auto;
}

.mx-auto {
  margin-inline: auto;
}

.grid {
  display: grid;
}
.flex {
  display: flex;
}

.gap-2_5 {
  gap: 2.5rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-1_25 {
  gap: 1.25rem;
}
.gap-0_75 {
  gap: 0.75rem;
}
.gap-0_5 {
  gap: 0.5rem;
}

.all-center {
  align-items: center;
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.columns-2 {
  grid-template-columns: 510px 480px;
}

.mobile-only {
  display: none;
}

@media (max-width: 1180px) {
  .mobile-only {
    display: block;
  }
  .desk-only {
    display: none;
  }
  .columns-2 {
  grid-template-columns: unset;
}
}